body{
    font-size: 14px;
    background-color: #F2F2F2;
}
h1 {
    border: 1px solid gray;
    padding: 5px;
}

h2 {
    color: red;
}
h2.active {
    border: 1px solid green;
}
#paragraf {
    font-weight: bold;
}
div h3 {
    background-color: gold;
}
h1~p {
    background-color: red;
}
div p{
    background-color: green;
}
li {
    border: 1px solid gray;
    margin-top: 2px;
}
.active{
    background-color: gold;
}
li:first-child{
    word-spacing: 5px;
}
li:last-child{
    word-spacing: 10px;
}
li:nth-last-of-type(odd){
    color: green;
}
li:nth-last-of-type(even){
    color: orange;
}
input[type="text"],input[type="password"]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type="submit"]{
    width: 100%;
    background-color: green;
    color: white;
    padding: 12px 18px;
    margin: 7px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: #45a049;
}
input[type="submit"]:focus{
    background-color: lightgoldenrodyellow;
}
