*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #f1f1f1;
}

#container {
  width: 1140px;
  margin: 20px auto;
}
#blog-post-container {
  width: 75%;
  float: left;
}

#other-posts {
  width: 25%;
  float: left;
}

#author-box {
}

.tags li {
  list-style: none;
  display: inline-block;
}

.tags li a {
  text-decoration: none;
}
.box{
  background: white;
  margin-bottom: 15px;
  padding: 20px;
}
.blog-post {
  position: relative;
  
}
.date {
  position: absolute;
  right: 55px;
  top: 0;
}
